// Body
$body-bg: #f9f9f9;

// Typography
$font-family-sans-serif: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3498db;
$indigo: #8e44ad;
$purple: #9b59b6;
$pink: #f66d9b;
$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$teal: #1abc9c;
$cyan: #2980b9;


$border-color: #f8f9fa !default;
