// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';


.card {
	background-color: white;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

	.card-header {
		background-color: rgba(0, 0, 0, 0.005);
	}

	.card-footer {
		border-top: 1px solid rgba(0, 0, 0, 0.0125);
	}
}


@media (min-width: 768px) {
}

@media (min-width: 992px) {
	.input-w {
		width: 75%;
	}

	.input-sw {
		width: 50%;
	}
}

@media (min-width: 1200px) {
	.input-w {
		width: 45%;
	}

	.input-sw {
		width: 25%;
	}
}


.app-aside, .app-additional {
	flex-shrink: 0;
	flex-grow: 0;

	.app-block {
		background-color: rgba(255, 255, 255, 0.8);
		margin-bottom: 1rem !important;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	}
}

.app-aside {
	flex-basis: 220px;

	.nav-pills .nav-link {
		border-radius: 0;
	}
}

.app-additional {
	flex-basis: 280px;
}

.app-aside, .app-additional {
	.sticky-top {
		top: 1.5rem;
	}

	.card {
		background-color: rgba(255, 255, 255, 0.8);
	}
}
