// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.app-aside, .app-additional {
	flex-shrink: 0;
	flex-grow: 0;

	.app-block {
		background-color: white;
		margin-bottom: 1rem !important;
	}
}

.app-aside {
	flex-basis: 220px;
}

.app-additional {
	flex-basis: 280px;
}

.app-aside .sticky-top,
.app-additional .sticky-top {
	top: 1.5rem;
}
